<div>
  ここは私が作ったホームページですよ。
</div>
<div>
  <a href="/menu">ゲストでメニューへ</a>
</div>
<div>
  <form action="/menu2" method="POST">
    <input type="text" name="username">
    <input type="submit" value="ログインしてメニューへ"/>
  </form>
</div>