<div>
  ここは私が作ったホームページですよ。
</div>
<div>
  <a href="/menu">メニューへ</a>
<!--<form action="/home/test" method="POST">
    <input type="button" value="テストページへ"/>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </form>-->
</div>