<div>
  ここはメニューページです。<br>
  今日は【<%- day %>】です。
</div>
<div>
  <ul>
    <li>
      <a href="">メニュー１</a>
    </li>
    <li>
      <a href="">メニュー２</a>
    </li>
    <li>
      <a href="">メニュー３</a>
    </li>
    <li>
      <a href="">メニュー４</a>
    </li>
    <li>
      <a href="">メニュー５</a>
    </li>
  </ul>
</div>